:root {
  --primary-color: #08491f;
  --primary-color-rgb: 86, 35, 216;
  --secondary-color: #08491f;
  --secondary-color-rgb: 106, 121, 250;
  --tertiary-color: #08491f;
  --tertiary-color-rgb: rgba(230, 21, 175, 1.0);
}